<a href="https://colab.research.google.com/github/kaiyoken3618/NLP_Keras_Regression_Predicting/blob/main/NLP_Keras_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Google Drive Connect for dataset reading from drive

In [1]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

Dataset Reading using Pandas

In [22]:
import pandas as pd
#read in data using pandas
train_df = pd.read_csv("/content/gdrive/MyDrive/data/hourly_wages_data.csv")
#check data has been read in properly 
# .head() uses for first n rows display by default which is 5.
train_df.head()

   wage_per_hour  union  education_yrs  ...  south  manufacturing  construction
0           5.10      0              8  ...      0              1             0
1           4.95      0              9  ...      0              1             0
2           6.67      0             12  ...      0              1             0
3           4.00      0             12  ...      0              0             0
4           7.50      0             12  ...      0              0             0

[5 rows x 10 columns]

Split up the dataset into inputs and targets

In [14]:
#create a dataframe with all training data except the target column
train_X = train_df.drop(columns=['wage_per_hour'])

#check that the target variable has been removed
train_X.head()

   union  education_yrs  experience_yrs  ...  south  manufacturing  construction
0      0              8              21  ...      0              1             0
1      0              9              42  ...      0              1             0
2      0             12               1  ...      0              1             0
3      0             12               4  ...      0              0             0
4      0             12              17  ...      0              0             0

[5 rows x 9 columns]

Insert the column ‘wage_per_hour’ into our target variable

In [15]:
#create a dataframe with only the target column
train_y = train_df[['wage_per_hour']]

#view dataframe
train_y.head()

   wage_per_hour
0           5.10
1           4.95
2           6.67
3           4.00
4           7.50

Building the Model

In [16]:
from keras.models import Sequential
from keras.layers import Dense
#create model
model = Sequential()

#get number of columns in training data
n_cols = train_X.shape[1]

#add model layers
model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
model.add(Dense(10, activation='relu'))
model.add(Dense(1))

Compiling the Model

In [17]:
model.compile(optimizer='adam', loss='mean_squared_error')

Training

In [18]:
from keras.callbacks import EarlyStopping
#set early stopping monitor so the model stops training when it won't improve anymore
early_stopping_monitor = EarlyStopping(patience=3)
#train model
model.fit(train_X, train_y, validation_split=0.2, epochs=30, callbacks=[early_stopping_monitor])

Epoch 1/30
14/14 [==============================] - 1s 38ms/step - loss: 65.8652 - val_loss: 131.0856
Epoch 2/30
14/14 [==============================] - 0s 6ms/step - loss: 51.7163 - val_loss: 109.4076
Epoch 3/30
14/14 [==============================] - 0s 5ms/step - loss: 38.0276 - val_loss: 91.0306
Epoch 4/30
14/14 [==============================] - 0s 7ms/step - loss: 36.1776 - val_loss: 77.6764
Epoch 5/30
14/14 [==============================] - 0s 6ms/step - loss: 33.1510 - val_loss: 69.5282
Epoch 6/30
14/14 [==============================] - 0s 6ms/step - loss: 35.8629 - val_loss: 64.4663
Epoch 7/30
14/14 [==============================] - 0s 6ms/step - loss: 26.7678 - val_loss: 62.7326
Epoch 8/30
14/14 [==============================] - 0s 7ms/step - loss: 32.9124 - val_loss: 60.5195
Epoch 9/30
14/14 [==============================] - 0s 6ms/step - loss: 31.4804 - val_loss: 58.3235
Epoch 10/30
14/14 [==============================] - 0s 6ms/step - loss: 27.5624 - val_loss: 57.4584
Epoch 11/30
14/14 [==============================] - 0s 6ms/step - loss: 38.6298 - val_loss: 55.9129
Epoch 12/30
14/14 [==============================] - 0s 6ms/step - loss: 26.1107 - val_loss: 55.1140
Epoch 13/30
14/14 [==============================] - 0s 5ms/step - loss: 28.3892 - val_loss: 53.2840
Epoch 14/30
14/14 [==============================] - 0s 6ms/step - loss: 39.4473 - val_loss: 52.8066
Epoch 15/30
14/14 [==============================] - 0s 6ms/step - loss: 31.4373 - val_loss: 52.3121
Epoch 16/30
14/14 [==============================] - 0s 5ms/step - loss: 19.5165 - val_loss: 51.7283
Epoch 17/30
14/14 [==============================] - 0s 6ms/step - loss: 21.2500 - val_loss: 49.6244
Epoch 18/30
14/14 [==============================] - 0s 7ms/step - loss: 28.9994 - val_loss: 48.6304
Epoch 19/30
14/14 [==============================] - 0s 6ms/step - loss: 21.0728 - val_loss: 49.7043
Epoch 20/30
14/14 [==============================] - 0s 6ms/step - loss: 22.1953 - val_loss: 48.7813
Epoch 21/30
14/14 [==============================] - 0s 6ms/step - loss: 25.0502 - val_loss: 47.2424
Epoch 22/30
14/14 [==============================] - 0s 6ms/step - loss: 23.7488 - val_loss: 46.4114
Epoch 23/30
14/14 [==============================] - 0s 6ms/step - loss: 19.7223 - val_loss: 44.9969
Epoch 24/30
14/14 [==============================] - 0s 5ms/step - loss: 28.3800 - val_loss: 44.8505
Epoch 25/30
14/14 [==============================] - 0s 5ms/step - loss: 21.2342 - val_loss: 44.3983
Epoch 26/30
14/14 [==============================] - 0s 5ms/step - loss: 21.2376 - val_loss: 43.2017
Epoch 27/30
14/14 [==============================] - 0s 6ms/step - loss: 19.8997 - val_loss: 42.8701
Epoch 28/30
14/14 [==============================] - 0s 5ms/step - loss: 22.2339 - val_loss: 40.3654
Epoch 29/30
14/14 [==============================] - 0s 5ms/step - loss: 21.0670 - val_loss: 40.2666
Epoch 30/30
14/14 [==============================] - 0s 5ms/step - loss: 21.5332 - val_loss: 40.0396

Prediction on testdata

Demo testdata to predict (Created file and tested can ignore)

In [25]:
test_x = pd.read_csv("/content/gdrive/MyDrive/data/test.csv")

Manually taking input test data

In [32]:
d = {'union': [0], 'education_yrs': [8],'experience_yrs': [21],'age': [35],'female': [1],'marr': [1],'south': [0],'manufacturing': [1],'construction': [0]} 
df = pd.DataFrame(data=d) 
df

   union  education_yrs  experience_yrs  ...  south  manufacturing  construction
0      0              8              21  ...      0              1             0

[1 rows x 9 columns]

In [33]:
#example on how to use our newly trained model on how to make predictions on unseen data (we will pretend our new data is saved in a dataframe called 'test_X').
test_y_predictions = model.predict(df) 
print(test_y_predictions)

[[7.3603363]]

Increasing model capacity to improve results

In [34]:
#training a new model on the same data to show the effect of increasing model capacity

#create model
model_mc = Sequential()

#add model layers
model_mc.add(Dense(200, activation='relu', input_shape=(n_cols,)))
model_mc.add(Dense(200, activation='relu'))
model_mc.add(Dense(200, activation='relu'))
model_mc.add(Dense(1))

#compile model using mse as a measure of model performance
model_mc.compile(optimizer='adam', loss='mean_squared_error')
#train model
model_mc.fit(train_X, train_y, validation_split=0.2, epochs=30, callbacks=[early_stopping_monitor])

Epoch 1/30
14/14 [==============================] - 1s 20ms/step - loss: 39.0608 - val_loss: 46.4279
Epoch 2/30
14/14 [==============================] - 0s 6ms/step - loss: 20.5049 - val_loss: 30.9684
Epoch 3/30
14/14 [==============================] - 0s 7ms/step - loss: 20.4433 - val_loss: 33.2070
Epoch 4/30
14/14 [==============================] - 0s 7ms/step - loss: 23.8466 - val_loss: 31.6639
Epoch 5/30
14/14 [==============================] - 0s 6ms/step - loss: 16.1177 - val_loss: 28.2657
Epoch 6/30
14/14 [==============================] - 0s 6ms/step - loss: 17.1340 - val_loss: 29.1271
Epoch 7/30
14/14 [==============================] - 0s 6ms/step - loss: 17.4222 - val_loss: 27.7423
Epoch 8/30
14/14 [==============================] - 0s 8ms/step - loss: 27.2003 - val_loss: 33.5859
Epoch 9/30
14/14 [==============================] - 0s 6ms/step - loss: 14.9622 - val_loss: 33.5128
Epoch 10/30
14/14 [==============================] - 0s 6ms/step - loss: 17.4788 - val_loss: 31.8676

Testing on same data

In [36]:
#example on how to use our newly trained model on how to make predictions on unseen data (we will pretend our new data is saved in a dataframe called 'test_X').
test_y_predictions = model_mc.predict(df) 
print(test_y_predictions)

[[5.5582066]]